src/detail.jade
extends base

block site_header
    include components/signup-alert.jade
    include components/nav.jade
    //#contendiv
    .header.detailheader(data-bg=require("./img/bg-img-mall-brighter.png") class="lazy kantoor-bg")
      div(class="container")
        .col-md-6
          div(class="god-title")
            h1 Zou jij het fijn vinden om altijd korting te krijgen op online aankopen bij Mediamarkt ?
            h2 Dat kan, dankzij SmileCard! Krijg tot 2% cashback op jouw aankoopbedrag
        .col-md-6.monitor.hidden-xs
          img(src='https://www.smilecard.be/images/monitor-455.png' alt='' class="screen")
          div(class="viewport")
            img.shop-image(src='https://www.smilecard.be/images/uploads/420x255/94489ba1d20cbe9c4a45ff7ab2f744a3.png', alt='')
    div(class="container webshopitem webshopitem-detail")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/1dayfly.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                  div(class="center-text")
                    h1 1DayFly
                    p Krijg tot 1% van je aankoopbedrag terug in cash!
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="/detail.html" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
    div(class="container extradetails")
      div(class="text-center title")
            h2 HOE WERKT HET?
            p Het is kinderspel! Al meer dan 
                b 9.547 belgen 
                span maken gebruik van de smilecard!
      include components/steps.jade
      div(class="text-center title")
          h2 HOE WERKT HET?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices elit sed purus condimentum, quis cursus urna aliquet. Pellentesque non erat nec velit mollis pretium. Phasellus interdum nulla lacinia leo faucibus hendrerit. Nulla eu molestie mi, eget laoreet mi. Integer scelerisque neque vel turpis mollis, sit amet hendrerit orci eleifend. Suspendisse viverra posuere urna cursus consectetur. Ut hendrerit porttitor erat, id posuere sem scelerisque non. Phasellus sed metus justo. Quisque finibus nisl ut molestie iaculis. Donec consequat ex at est malesuada vehicula. Maecenas sit amet nisi luctus, sagittis massa sed, efficitur eros. Sed sed molestie nisl, eget efficitur magna. In nec felis posuere purus ornare fermentum at sed ex.
        | Sed sed tellus at metus aliquam pellentesque. Sed nibh lectus, finibus nec congue vel, laoreet eget nisl. Aenean eros odio, porta ut fringilla a, rhoncus at erat. Nunc molestie fermentum sagittis. Morbi semper tempus est, imperdiet blandit ligula commodo non. Aenean sapien nunc, venenatis at hendrerit at, finibus rutrum massa. Etiam blandit urna eget elit commodo bibendum. Donec ullamcorper arcu at elit posuere, vitae eleifend tortor vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        | Sed a sapien velit. Morbi aliquam posuere euismod. Quisque eu quam luctus, dictum ligula eu, suscipit velit. Aenean scelerisque nisi vel ornare laoreet. Nulla finibus in massa a molestie. Aenean tortor sem, euismod a mauris non, ultrices malesuada arcu. Curabitur dapibus, lorem non imperdiet posuere, velit diam tincidunt dui, at mollis sapien risus in nisi.
        | Nunc pulvinar ante vel sapien sagittis aliquam. Donec in augue imperdiet, consectetur ante laoreet, fermentum eros. Fusce vestibulum blandit est, id mollis massa vulputate quis. Ut sit amet iaculis ligula, in elementum mi. Cras risus elit, elementum et volutpat a, efficitur gravida felis. Phasellus non consectetur lectus. Aenean sollicitudin sem sit amet ultrices efficitur.
        | Pellentesque at ullamcorper ex. Vestibulum malesuada ligula ut magna porttitor egestas. Pellentesque non dignissim enim, a aliquet est. Nam eget velit eget metus gravida ornare id a ex. Mauris elit nibh, eleifend blandit congue at, placerat ut justo. Aliquam tempor auctor ipsum nec aliquam. Curabitur sollicitudin nunc et nibh consequat vehicula. Vestibulum molestie id massa id laoreet. Etiam iaculis neque eu mattis tempor. Aliquam sit amet sem dignissim arcu faucibus mattis sed eget dolor. Cras turpis metus, venenatis quis aliquet sed, vestibulum eget nunc. Aliquam varius nunc est, et auctor lorem fringilla eu. Sed et nulla dui. Integer eu tempus lorem. Quisque neque nisi, porta vitae porttitor vulputate, cursus in felis. Aliquam fringilla lacus sed facilisis vehicula.

dist/detail.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"><link href="style.css?57b211b14a29137bcf6d" rel="stylesheet"></head><body><header class="site-header"><div class="alert alert-danger signup-alert" role="alert"><div class="container"><div class="col-lg-9 col-md-8 hidden-sm hidden-xs message"><p class="vertical-align"><b class="color-primary">Unieke kans: </b><i>Dankzij </i><b class="color-primary">FamilyCartd </b><i>krijg je bij elke aankoop korting in vorm van cash geld. </i><b class="color-primary">Wacht niet </b><i>nog maar </i><b class="edometer color-primary">100 </b><i>kaarten vrij!</i></p></div><div class="col-lg-3 col-md-4 col-sm-12 community"><a class="login">inloggen</a><a class="btn btn-info claimbtn" href="#" role="button">Claim kaart</a></div></div></div><div class="absolute-nav smilecard-nav"><div class="container"><nav class="navbar navbar-default"><div class="left"><div class="navbar-header"><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/"> <img class="navlogo" src="img/logo.png"></a></div></div><div class="right"><div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><ul class="nav navbar-nav"><li class="active"><a href="webshop-az.html">Alle Webshops</a></li><li class="dropdown"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-expanded="true">Categorieën<span class="caret"></span></a><ul class="dropdown-menu multi-level1 border-2-black"><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><span>Mode en kledij</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/13">Mannen Mode</a><div class="smile" style="background: #de8713"></div></li><li><a href="https://www.smilecard.be/category/14">Vrouwen Mode</a></li><li><a href="https://www.smilecard.be/category/16">Lingerie</a></li><li><a href="https://www.smilecard.be/category/15">Kinderkleding</a></li><li><a href="https://www.smilecard.be/category/3">Schoenen</a></li><li><a href="https://www.smilecard.be/category/4">Juwelen</a></li><li><a href="https://www.smilecard.be/category/17">Luxe</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #de8713"></div><span>Reizen</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/8">Hotels</a></li><li><a href="https://www.smilecard.be/category/9">Vakanties</a></li><li><a href="https://www.smilecard.be/category/10">Vluchten</a></li><li><a href="https://www.smilecard.be/category/11">Trein &amp; Bus tickets</a></li><li><a href="https://www.smilecard.be/category/12">Autoverhuur</a></li><li><a href="https://www.smilecard.be/category/64">Luchthaven vervoer</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #ec410f"><img src="/images/smile-16.png" alt=""></div><span>Computers &amp; Electronica</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/19">Computers &amp; Hardware</a></li><li><a href="https://www.smilecard.be/category/20">TV &amp; Video</a></li><li><a href="https://www.smilecard.be/category/21">Smartphones &amp; tablets</a></li><li><a href="https://www.smilecard.be/category/22">Huishoud Electronica</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #b111d9"><img src="/images/smile-16.png" alt=""></div><span>Schoonheid &amp; Gezondheid</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/24">Parfum &amp; Cosmetica</a></li><li><a href="https://www.smilecard.be/category/26">Bio - Afskanken &amp; Voeding</a></li></ul></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/6"><div class="smile" style="background: #4fe224"><img src="/images/smile-16.png" alt=""></div><span>Top Online Shops</span></a></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/25"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Welness &amp; gezondheid</span></a></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #3fce15"><img src="/images/smile-16.png" alt=""></div><span>Huis &amp; Tuin</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/28">Energie</a></li><li><a href="https://www.smilecard.be/category/29">Huislinnen</a></li><li><a href="https://www.smilecard.be/category/30">Meubels</a></li><li><a href="https://www.smilecard.be/category/31">Tuin</a></li><li><a href="https://www.smilecard.be/category/58">Keuken</a></li><li><a href="https://www.smilecard.be/category/32">Deco &amp; design</a></li><li><a href="https://www.smilecard.be/category/33">Doe het zelf</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #d6f038"><img src="/images/smile-16.png" alt=""></div><span>Voeding &amp; Drank</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/35">Supermarkten</a></li><li><a href="https://www.smilecard.be/category/36">Chocolade &amp; Pralines</a></li><li><a href="https://www.smilecard.be/category/37">Wijn &amp; Alcohol</a></li><li><a href="https://www.smilecard.be/category/38">Koffie &amp; Thee</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Sport &amp; Vrije Tijd</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/40">Sportmateriaal</a></li><li><a href="https://www.smilecard.be/category/41">Sportkleding</a></li><li><a href="https://www.smilecard.be/category/42">Fitness</a></li><li><a href="https://www.smilecard.be/category/43">Ski</a></li><li><a href="https://www.smilecard.be/category/62">Kids</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #1a63d0"><img src="/images/smile-16.png" alt=""></div><span>Evenementen &amp; Culture</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/45">Film &amp; Muziek</a></li><li><a href="https://www.smilecard.be/category/47">Tickets</a></li><li><a href="https://www.smilecard.be/category/56">Boeken</a></li><li><a href="https://www.smilecard.be/category/46">Dating</a></li><li><a href="https://www.smilecard.be/category/48">Weddenschappen &amp; Gokken</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span></span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/59">Adult</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #18dff2"><img src="/images/smile-16.png" alt=""></div><span>Geschenken, box &amp; bloemen</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/50">Geschenkboxen</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #9f1d1d"><img src="/images/smile-16.png" alt=""></div><span>Auto&apos;s &amp; Moto&apos;s</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/52">Autobanden</a></li></ul></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/54"><div class="smile" style="background: #6159e1"><img src="/images/smile-16.png" alt=""></div><span>Foto &amp; Drukwerk</span></a></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/55"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Bank &amp; Verzekeringen</span></a></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/60"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Office</span></a></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/61"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Vakantieparken</span></a></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/63"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Telecom</span></a></li></ul></li><li><a href="/">Faq</a></li><li><a href="/">Word lid?</a></li><li class="dropdown langswitcher"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img class="icon-small" id="imgNavSel" src="img/belguim.png" alt="..."><span id="lanNavSel">NL</span><span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li><a class="language" id="navIta" href="/fr"><img class="icon-small" id="imgNavIta" src="img/fr.png" alt="..."><span id="lanNavIta">FR</span></a></li><li><a class="language" id="navDeu" href="/nl"><img class="icon-small" id="imgNavDeu" src="img/belguim.png" alt="..."><span id="lanNavDeu">NL</span></a></li></ul></li></ul><form class="navbar-form navbar-left hidden-sm hidden-md hidden-lg"><div class="form-group"><input class="form-control" type="text" placeholder="Search"><button class="btn btn-danger btn-search-mobile" type="submit">Zoeken</button></div></form></div></div><div class="middle"><form class="navbar-form" action=""><input class="seerchfield form-control" type="text" placeholder="Search"></form></div></nav></div></div><!--#contendiv--><div class="header detailheader lazy kantoor-bg" data-bg="img/bg-img-mall-brighter.png"><div class="container"><div class="col-md-6"><div class="god-title"><h1>Zou jij het fijn vinden om altijd korting te krijgen op online aankopen bij Mediamarkt ?</h1><h2>Dat kan, dankzij SmileCard! Krijg tot 2% cashback op jouw aankoopbedrag</h2></div></div><div class="col-md-6 monitor hidden-xs"><img class="screen" src="https://www.smilecard.be/images/monitor-455.png" alt=""><div class="viewport"><img class="shop-image" src="https://www.smilecard.be/images/uploads/420x255/94489ba1d20cbe9c4a45ff7ab2f744a3.png" alt=""></div></div></div></div><div class="container webshopitem webshopitem-detail"><div class="webshop"><div class="shop"><div class="col-md-2"><div class="logos"><div class="webshoplogo lazy" data-bg="img/1dayfly.png"></div></div></div><div class="col-md-6"><div class="center-text-container webshop-text-container"><div class="center-text"><h1>1DayFly</h1><p>Krijg tot 1% van je aankoopbedrag terug in cash!</p></div></div></div><div class="col-md-4 calltoaction-shop"><p>Klaar om te winkelen?</p><a class="btn btn-danger" href="/detail.html">ACTIVEER KLANTENKAART</a><p class="webshopdesc">U wordt doorgestuurd naar de webshop</p></div></div><div class="wid hidden-sm hidden-xs"></div></div></div><div class="container extradetails"><div class="text-center title"><h2>HOE WERKT HET?</h2><p>Het is kinderspel! Al meer dan <b>9.547 belgen </b><span>maken gebruik van de smilecard!</span></p></div><div class="steps"><div class="col-sm-3 col-left step step1"><div class="stepcontianer"><p class="bullet">1</p><img src="img/step1-icon.png" alt=""><p class="step-instruction"><span>Log in op je SmilCard account</span></p></div></div><div class="col-sm-3 col-left step step2"><div class="stepcontianer"><p class="bullet">2</p><img src="img/step2-icon.png" alt=""><p class="step-instruction"><span>Kies je favoriete webshop</span></p></div></div><div class="col-sm-3 col-left step step3"><div class="stepcontianer"><p class="bullet">3</p><img src="img/step3-icon.png" alt=""><p class="step-instruction"><span>Plaats je bestelling zoals je gewoon bent.</span></p></div></div><div class="col-sm-3 col-left step step4"><div class="stepcontianer"><p class="bullet">4</p><img src="img/step4-icon.png" alt=""><p class="step-instruction"><span>Ontvang je korting na aankoop in cash geld op je SmileCard account.</span></p></div></div><div class="stepline"></div></div><div class="text-center title"><h2>HOE WERKT HET?</h2></div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices elit sed purus condimentum, quis cursus urna aliquet. Pellentesque non erat nec velit mollis pretium. Phasellus interdum nulla lacinia leo faucibus hendrerit. Nulla eu molestie mi, eget laoreet mi. Integer scelerisque neque vel turpis mollis, sit amet hendrerit orci eleifend. Suspendisse viverra posuere urna cursus consectetur. Ut hendrerit porttitor erat, id posuere sem scelerisque non. Phasellus sed metus justo. Quisque finibus nisl ut molestie iaculis. Donec consequat ex at est malesuada vehicula. Maecenas sit amet nisi luctus, sagittis massa sed, efficitur eros. Sed sed molestie nisl, eget efficitur magna. In nec felis posuere purus ornare fermentum at sed ex.Sed sed tellus at metus aliquam pellentesque. Sed nibh lectus, finibus nec congue vel, laoreet eget nisl. Aenean eros odio, porta ut fringilla a, rhoncus at erat. Nunc molestie fermentum sagittis. Morbi semper tempus est, imperdiet blandit ligula commodo non. Aenean sapien nunc, venenatis at hendrerit at, finibus rutrum massa. Etiam blandit urna eget elit commodo bibendum. Donec ullamcorper arcu at elit posuere, vitae eleifend tortor vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed a sapien velit. Morbi aliquam posuere euismod. Quisque eu quam luctus, dictum ligula eu, suscipit velit. Aenean scelerisque nisi vel ornare laoreet. Nulla finibus in massa a molestie. Aenean tortor sem, euismod a mauris non, ultrices malesuada arcu. Curabitur dapibus, lorem non imperdiet posuere, velit diam tincidunt dui, at mollis sapien risus in nisi. Nunc pulvinar ante vel sapien sagittis aliquam. Donec in augue imperdiet, consectetur ante laoreet, fermentum eros. Fusce vestibulum blandit est, id mollis massa vulputate quis. Ut sit amet iaculis ligula, in elementum mi. Cras risus elit, elementum et volutpat a, efficitur gravida felis. Phasellus non consectetur lectus. Aenean sollicitudin sem sit amet ultrices efficitur. Pellentesque at ullamcorper ex. Vestibulum malesuada ligula ut magna porttitor egestas. Pellentesque non dignissim enim, a aliquet est. Nam eget velit eget metus gravida ornare id a ex. Mauris elit nibh, eleifend blandit congue at, placerat ut justo. Aliquam tempor auctor ipsum nec aliquam. Curabitur sollicitudin nunc et nibh consequat vehicula. Vestibulum molestie id massa id laoreet. Etiam iaculis neque eu mattis tempor. Aliquam sit amet sem dignissim arcu faucibus mattis sed eget dolor. Cras turpis metus, venenatis quis aliquet sed, vestibulum eget nunc. Aliquam varius nunc est, et auctor lorem fringilla eu. Sed et nulla dui. Integer eu tempus lorem. Quisque neque nisi, porta vitae porttitor vulputate, cursus in felis. Aliquam fringilla lacus sed facilisis vehicula.</p></div></header><section class="site-body"></section><footer class="site-footer"><div class="container"><div class="text-center title"><h2>HOE WERKT HET?</h2><p>Het is kinderspel! Al meer dan <b>9.547 belgen </b><span>maken gebruik van de smilecard!</span></p></div><div class="footerarguments col-xs-12"><div class="col-md-4 text-center"><img class="checkmark" src="img/check.png" alt=""><div class="check"><p>Het is 100% gratis en zal dat ook blijven</p></div></div><div class="col-md-4 text-center"><img class="checkmark" src="img/check.png" alt=""><div class="check"><p>Geldig bij meer dan 13 belgische in internationale webshops</p></div></div><div class="col-md-4 text-center"><img class="checkmark" src="img/check.png" alt=""><div class="check"><p>Het is 100% gratis en zal dat ook blijven</p></div></div></div><div class="footerbutton"><a class="btn btn-danger btn-xl footercall" href="/signup">Word gratis lid!</a></div><div class="menus col-xs-12"><ul class="footer-nav__items"><li class="footer-nav__item"><a href="/about">About</a></li><li class="footer-nav__item"><a href="/archives">Archive</a></li><li class="footer-nav__item"><a href="#">FAQ</a></li><li class="footer-nav__item"><a href="">Inloggen</a></li></ul></div></div><img class="footerlogo" src="img/logo.png" alt="" srcset=""></footer><script type="text/javascript" src="app.bundle.js?57b211b14a29137bcf6d"></script></body></html>
