src/webshop-az.jade
extends base

block site_header
    include components/signup-alert.jade
    include components/nav.jade

block site_body
  div(class="container")
    h2(class="lettertitle") 0-9
    div(class="webshopcontainer")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/1dayfly.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                  div(class="center-text")
                    h1 1DayFly
                    p Krijg tot 1% van je aankoopbedrag terug in cash!
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="/detail.html" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      .bg
    h2(class="lettertitle") A
    div(class="webshopcontainer")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/aliexpress.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                div(class="center-text")
                  h1 AliExpress
                  p Krijg tot 2% cashback op jouw aankoopbedrag
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="#" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/aladaniti.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
              div(class="center-text")
                h1 Aldaniti
                p schoenen, mode en kledij? je vind het allemaal op aldaniti. en dankzij smilecard, krijg je voor elke bestelling die je bij aldaniti plaatst, €0,25 korting!
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="#" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      .bg
    h2(class="lettertitle") B
    div(class="webshopcontainer")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/bakkercom.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                div(class="center-text")
                  h1 bakker.com
                  p 
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="#" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      .bg
    h2(class="lettertitle") C
    div(class="webshopcontainer")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
               div(data-bg=require("./img/coolblue.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                div(class="center-text")
                  h1 Coolblue
                  p Krijg tot 5% van je aankoopbedrag terug in cash!
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="#" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/collishop.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                  div(class="center-text")
                    h1 ColliShop
                    p 
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="#" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      .bg

dist/webshop-az.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"><link href="style.css?57b211b14a29137bcf6d" rel="stylesheet"></head><body><header class="site-header"><div class="alert alert-danger signup-alert" role="alert"><div class="container"><div class="col-lg-9 col-md-8 hidden-sm hidden-xs message"><p class="vertical-align"><b class="color-primary">Unieke kans: </b><i>Dankzij </i><b class="color-primary">FamilyCartd </b><i>krijg je bij elke aankoop korting in vorm van cash geld. </i><b class="color-primary">Wacht niet </b><i>nog maar </i><b class="edometer color-primary">100 </b><i>kaarten vrij!</i></p></div><div class="col-lg-3 col-md-4 col-sm-12 community"><a class="login">inloggen</a><a class="btn btn-info claimbtn" href="#" role="button">Claim kaart</a></div></div></div><div class="absolute-nav smilecard-nav"><div class="container"><nav class="navbar navbar-default"><div class="left"><div class="navbar-header"><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/"> <img class="navlogo" src="img/logo.png"></a></div></div><div class="right"><div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><ul class="nav navbar-nav"><li class="active"><a href="webshop-az.html">Alle Webshops</a></li><li class="dropdown"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-expanded="true">Categorieën<span class="caret"></span></a><ul class="dropdown-menu multi-level1 border-2-black"><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><span>Mode en kledij</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/13">Mannen Mode</a><div class="smile" style="background: #de8713"></div></li><li><a href="https://www.smilecard.be/category/14">Vrouwen Mode</a></li><li><a href="https://www.smilecard.be/category/16">Lingerie</a></li><li><a href="https://www.smilecard.be/category/15">Kinderkleding</a></li><li><a href="https://www.smilecard.be/category/3">Schoenen</a></li><li><a href="https://www.smilecard.be/category/4">Juwelen</a></li><li><a href="https://www.smilecard.be/category/17">Luxe</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #de8713"></div><span>Reizen</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/8">Hotels</a></li><li><a href="https://www.smilecard.be/category/9">Vakanties</a></li><li><a href="https://www.smilecard.be/category/10">Vluchten</a></li><li><a href="https://www.smilecard.be/category/11">Trein &amp; Bus tickets</a></li><li><a href="https://www.smilecard.be/category/12">Autoverhuur</a></li><li><a href="https://www.smilecard.be/category/64">Luchthaven vervoer</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #ec410f"><img src="/images/smile-16.png" alt=""></div><span>Computers &amp; Electronica</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/19">Computers &amp; Hardware</a></li><li><a href="https://www.smilecard.be/category/20">TV &amp; Video</a></li><li><a href="https://www.smilecard.be/category/21">Smartphones &amp; tablets</a></li><li><a href="https://www.smilecard.be/category/22">Huishoud Electronica</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #b111d9"><img src="/images/smile-16.png" alt=""></div><span>Schoonheid &amp; Gezondheid</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/24">Parfum &amp; Cosmetica</a></li><li><a href="https://www.smilecard.be/category/26">Bio - Afskanken &amp; Voeding</a></li></ul></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/6"><div class="smile" style="background: #4fe224"><img src="/images/smile-16.png" alt=""></div><span>Top Online Shops</span></a></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/25"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Welness &amp; gezondheid</span></a></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #3fce15"><img src="/images/smile-16.png" alt=""></div><span>Huis &amp; Tuin</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/28">Energie</a></li><li><a href="https://www.smilecard.be/category/29">Huislinnen</a></li><li><a href="https://www.smilecard.be/category/30">Meubels</a></li><li><a href="https://www.smilecard.be/category/31">Tuin</a></li><li><a href="https://www.smilecard.be/category/58">Keuken</a></li><li><a href="https://www.smilecard.be/category/32">Deco &amp; design</a></li><li><a href="https://www.smilecard.be/category/33">Doe het zelf</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #d6f038"><img src="/images/smile-16.png" alt=""></div><span>Voeding &amp; Drank</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/35">Supermarkten</a></li><li><a href="https://www.smilecard.be/category/36">Chocolade &amp; Pralines</a></li><li><a href="https://www.smilecard.be/category/37">Wijn &amp; Alcohol</a></li><li><a href="https://www.smilecard.be/category/38">Koffie &amp; Thee</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Sport &amp; Vrije Tijd</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/40">Sportmateriaal</a></li><li><a href="https://www.smilecard.be/category/41">Sportkleding</a></li><li><a href="https://www.smilecard.be/category/42">Fitness</a></li><li><a href="https://www.smilecard.be/category/43">Ski</a></li><li><a href="https://www.smilecard.be/category/62">Kids</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #1a63d0"><img src="/images/smile-16.png" alt=""></div><span>Evenementen &amp; Culture</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/45">Film &amp; Muziek</a></li><li><a href="https://www.smilecard.be/category/47">Tickets</a></li><li><a href="https://www.smilecard.be/category/56">Boeken</a></li><li><a href="https://www.smilecard.be/category/46">Dating</a></li><li><a href="https://www.smilecard.be/category/48">Weddenschappen &amp; Gokken</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span></span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/59">Adult</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #18dff2"><img src="/images/smile-16.png" alt=""></div><span>Geschenken, box &amp; bloemen</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/50">Geschenkboxen</a></li></ul></li><li class="dropdown-submenu"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><div class="smile" style="background: #9f1d1d"><img src="/images/smile-16.png" alt=""></div><span>Auto&apos;s &amp; Moto&apos;s</span></a><ul class="dropdown-menu bg-light-yellow border-2-black"><li><a href="https://www.smilecard.be/category/52">Autobanden</a></li></ul></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/54"><div class="smile" style="background: #6159e1"><img src="/images/smile-16.png" alt=""></div><span>Foto &amp; Drukwerk</span></a></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/55"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Bank &amp; Verzekeringen</span></a></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/60"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Office</span></a></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/61"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Vakantieparken</span></a></li><li class="dropdown-submenu"><a href="https://www.smilecard.be/category/63"><div class="smile" style="background:"><img src="/images/smile-16.png" alt=""></div><span>Telecom</span></a></li></ul></li><li><a href="/">Faq</a></li><li><a href="/">Word lid?</a></li><li class="dropdown langswitcher"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img class="icon-small" id="imgNavSel" src="img/belguim.png" alt="..."><span id="lanNavSel">NL</span><span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li><a class="language" id="navIta" href="/fr"><img class="icon-small" id="imgNavIta" src="img/fr.png" alt="..."><span id="lanNavIta">FR</span></a></li><li><a class="language" id="navDeu" href="/nl"><img class="icon-small" id="imgNavDeu" src="img/belguim.png" alt="..."><span id="lanNavDeu">NL</span></a></li></ul></li></ul><form class="navbar-form navbar-left hidden-sm hidden-md hidden-lg"><div class="form-group"><input class="form-control" type="text" placeholder="Search"><button class="btn btn-danger btn-search-mobile" type="submit">Zoeken</button></div></form></div></div><div class="middle"><form class="navbar-form" action=""><input class="seerchfield form-control" type="text" placeholder="Search"></form></div></nav></div></div></header><section class="site-body"><div class="container"><h2 class="lettertitle">0-9</h2><div class="webshopcontainer"><div class="webshop"><div class="shop"><div class="col-md-2"><div class="logos"><div class="webshoplogo lazy" data-bg="img/1dayfly.png"></div></div></div><div class="col-md-6"><div class="center-text-container webshop-text-container"><div class="center-text"><h1>1DayFly</h1><p>Krijg tot 1% van je aankoopbedrag terug in cash!</p></div></div></div><div class="col-md-4 calltoaction-shop"><p>Klaar om te winkelen?</p><a class="btn btn-danger" href="/detail.html">ACTIVEER KLANTENKAART</a><p class="webshopdesc">U wordt doorgestuurd naar de webshop</p></div></div><div class="wid hidden-sm hidden-xs"></div></div><div class="bg"></div></div><h2 class="lettertitle">A</h2><div class="webshopcontainer"><div class="webshop"><div class="shop"><div class="col-md-2"><div class="logos"><div class="webshoplogo lazy" data-bg="img/aliexpress.png"></div></div></div><div class="col-md-6"><div class="center-text-container webshop-text-container"><div class="center-text"><h1>AliExpress</h1><p>Krijg tot 2% cashback op jouw aankoopbedrag</p></div></div></div><div class="col-md-4 calltoaction-shop"><p>Klaar om te winkelen?</p><a class="btn btn-danger" href="#">ACTIVEER KLANTENKAART</a><p class="webshopdesc">U wordt doorgestuurd naar de webshop</p></div></div><div class="wid hidden-sm hidden-xs"></div></div><div class="webshop"><div class="shop"><div class="col-md-2"><div class="logos"><div class="webshoplogo lazy" data-bg="img/aladaniti.png"></div></div></div><div class="col-md-6"><div class="center-text-container webshop-text-container"><div class="center-text"><h1>Aldaniti</h1><p>schoenen, mode en kledij? je vind het allemaal op aldaniti. en dankzij smilecard, krijg je voor elke bestelling die je bij aldaniti plaatst, €0,25 korting!</p></div></div></div><div class="col-md-4 calltoaction-shop"><p>Klaar om te winkelen?</p><a class="btn btn-danger" href="#">ACTIVEER KLANTENKAART</a><p class="webshopdesc">U wordt doorgestuurd naar de webshop</p></div></div><div class="wid hidden-sm hidden-xs"></div></div><div class="bg"></div></div><h2 class="lettertitle">B</h2><div class="webshopcontainer"><div class="webshop"><div class="shop"><div class="col-md-2"><div class="logos"><div class="webshoplogo lazy" data-bg="img/bakkercom.png"></div></div></div><div class="col-md-6"><div class="center-text-container webshop-text-container"><div class="center-text"><h1>bakker.com</h1><p></p></div></div></div><div class="col-md-4 calltoaction-shop"><p>Klaar om te winkelen?</p><a class="btn btn-danger" href="#">ACTIVEER KLANTENKAART</a><p class="webshopdesc">U wordt doorgestuurd naar de webshop</p></div></div><div class="wid hidden-sm hidden-xs"></div></div><div class="bg"></div></div><h2 class="lettertitle">C</h2><div class="webshopcontainer"><div class="webshop"><div class="shop"><div class="col-md-2"><div class="logos"><div class="webshoplogo lazy" data-bg="img/coolblue.png"></div></div></div><div class="col-md-6"><div class="center-text-container webshop-text-container"><div class="center-text"><h1>Coolblue</h1><p>Krijg tot 5% van je aankoopbedrag terug in cash!</p></div></div></div><div class="col-md-4 calltoaction-shop"><p>Klaar om te winkelen?</p><a class="btn btn-danger" href="#">ACTIVEER KLANTENKAART</a><p class="webshopdesc">U wordt doorgestuurd naar de webshop</p></div></div><div class="wid hidden-sm hidden-xs"></div></div><div class="webshop"><div class="shop"><div class="col-md-2"><div class="logos"><div class="webshoplogo lazy" data-bg="img/collishop.png"></div></div></div><div class="col-md-6"><div class="center-text-container webshop-text-container"><div class="center-text"><h1>ColliShop</h1><p></p></div></div></div><div class="col-md-4 calltoaction-shop"><p>Klaar om te winkelen?</p><a class="btn btn-danger" href="#">ACTIVEER KLANTENKAART</a><p class="webshopdesc">U wordt doorgestuurd naar de webshop</p></div></div><div class="wid hidden-sm hidden-xs"></div></div><div class="bg"></div></div></div></section><footer class="site-footer"><div class="container"><div class="text-center title"><h2>HOE WERKT HET?</h2><p>Het is kinderspel! Al meer dan <b>9.547 belgen </b><span>maken gebruik van de smilecard!</span></p></div><div class="footerarguments col-xs-12"><div class="col-md-4 text-center"><img class="checkmark" src="img/check.png" alt=""><div class="check"><p>Het is 100% gratis en zal dat ook blijven</p></div></div><div class="col-md-4 text-center"><img class="checkmark" src="img/check.png" alt=""><div class="check"><p>Geldig bij meer dan 13 belgische in internationale webshops</p></div></div><div class="col-md-4 text-center"><img class="checkmark" src="img/check.png" alt=""><div class="check"><p>Het is 100% gratis en zal dat ook blijven</p></div></div></div><div class="footerbutton"><a class="btn btn-danger btn-xl footercall" href="/signup">Word gratis lid!</a></div><div class="menus col-xs-12"><ul class="footer-nav__items"><li class="footer-nav__item"><a href="/about">About</a></li><li class="footer-nav__item"><a href="/archives">Archive</a></li><li class="footer-nav__item"><a href="#">FAQ</a></li><li class="footer-nav__item"><a href="">Inloggen</a></li></ul></div></div><img class="footerlogo" src="img/logo.png" alt="" srcset=""></footer><script type="text/javascript" src="app.bundle.js?57b211b14a29137bcf6d"></script></body></html>
